<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header class="single-user">
        Single User Details
    </header>

    <main>
        <div class="box">
            <h1><%= user.name%></h1>
        <h1><%= user.lastname%></h1>
        <h1><%= user.email %></h1>
        <h1><%= user.age%></h1>
        <h1><%= user.mobile%></h1>
        <div class="delete">
            <a href="/user/<%= user._id%>/edit"> Edit</a>
            <a href="/user/<%= user._id%>/delete">Delete</a>
        </div>
       
        </div>
      
    </main>
</body>
</html>