<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <header class="update-user">
        Update User Form 

    </header>

    <main>
        <form action="/user/<%= user.id%>" method="POST">
            <input name="name" value="<%= user.name%>" placeholder="enter name"  type="text">
            <input name="lastname" value="<%= user.lastname%>" placeholder="enter lastname"  type="text">
            <input name="email" value="<%= user.email%>" placeholder="enter email"  type="text">
            <input name="age" value=" <%= user.age%>" placeholder="enter age"  type="text">
            <input name="mobile" value="<%= user.mobile%>" placeholder="enter mobile"  type="text">
            <input type="submit" value="Add">
        </form>
    </main>
</body>
</html>