<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/<%=user._id %>" method="POST">
        <input  name="name" placeholder="enter name" value="<%=user.name%>" type="text" >
        <input name="email" placeholder="enter email" value=" <%=user.email%>" type="email">
        <input name="mobile" placeholder="enter number" value="<%=user.mobile%>" type="number">
        <input name="age" placeholder="enter age" value="<%=user.age%>" type="number">
        <input type="submit" value="add">
</body>
</html>